/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-ene-2014, 12:25:12
    Author     : dan
*/
body{
    height: 100%;
}
.wrap {
    height: 100%;
    width: 100%;
    position: relative;
}

/* Frame */
.frame {
    overflow: hidden;
}
.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-transition: -webkit-transform 1s ease-in; /* Changed here */ 
    -moz-transition: -moz-transform 1s ease-in;
    -o-transition: -o-transform 1s ease-in;
    transition: transform 1s ease-in;
}
.frame ul li {
    float: left;
    height: 100%;
    padding: 0;
    position: relative;
}
.frame ul.noMove{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition:  none;
}
