SetEnv PHP_VER 5
#php_value display_errors 0
#php_value upload_max_filesize 50M

Options +FollowSymlinks
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ /intranet/index.php?url=$1 [QSA,L]
