
.rslides {
    max-height: 600px;
     margin: 0 auto 40px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.rslides img {
    border: 0 none;
    display: block;
    float: left;
    height: auto;
    width: 100%;
}
#menu_separator{
    display:none !important;
}
#top_content h2,#sidebar h2,#content h2 {
    border-bottom: 1px solid #CCCCCC;
    clear: both;
    color: #000000;
    display: block;
    font-family: 'ITCAvantGardeStd';
    font-size: 1.4em;
    height: 1.5em;
    text-align: left;
    margin-top: 50px;
}
h2 span.inner {
    display: block;
    font-size: 16px;
}
#latest-campaigns img, #most-wanted img {
    width: 198px;
}
#most-wanted {
    margin-bottom: 50px;
}
body.two-col #sidebar {
    margin-top: 0;
}
#promo p {
    height: 100% !important;
    width: 100% !important;
}
#promo img {
    height: 100% !important;
    width: 100% !important;
}

#latest-campaigns img, #most-wanted img {
    width: 100% !important;
}
.capaVideo {
    position: relative;
    width: 100%;
    z-index: 50;
}
.blogPrev{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.capaBlog{
    position: relative;
    width: 100% !important;
    height: auto !important;
}
#sidebar {
    overflow: hidden !important;
    position: relative !important;
}
#catwalk {
    height: 100% !important;
    position: absolute !important;
    width: 100% !important;
}
#catwalk iframe,#catwalk object {
    height: 100% !important;
    position: absolute !important;
    width: 100% !important;
}
ul.model-list.cover-list li, ul.cover-list.cover-list li {
    width: 33% !important;
}
#latest-campaigns img, #most-wanted img {
    width: 100% !important;
}


#promo_wrapper #container {
    margin: auto;
    width: 100% !important;
}

@media only screen and (min-width: 1100px) {
#menu a {
}
}
.promo_black {
    position: relative !important;
}
#promo {
    height: auto !important;
}
/*
html, body {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-size: 100.01%;
}
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}*/
blockquote, q {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    quotes: "" "";
    vertical-align: baseline;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
th, td, caption {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;
}
table {
    border: 0 none;
    border-collapse: separate;
    border-spacing: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
a img {
    border: medium none;
}
.box {
    background: none repeat scroll 0 0 #E5ECF9;
    margin-bottom: 1.5em;
    padding: 1.5em;
}
div.border {
    border-right: 1px solid #EEEEEE;
    margin-right: 6px;
    padding-right: 5px;
}
div.colborder {
    border-right: 1px solid #EEEEEE;
    margin-right: 18px;
    padding-right: 17px;
}
hr {
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none;
    clear: both;
    color: #DDDDDD;
    float: none;
    height: 0.1em;
    margin: 0 0 1.45em;
    width: 100%;
}
hr.space {
    background: none repeat scroll 0 0 white;
    border: medium none;
    clear: both;
    color: #FFFFFF;
    float: none;
    height: 0.1em;
    margin: 0 0 1.45em;
    visibility: hidden;
    width: 100%;
}
form.inline {
    line-height: 3;
}
form.inline p {
    margin-bottom: 0;
}
/*body {
    color: #333333;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 87.5%;
    line-height: 1.5;
}*/
body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #222222;
    font-weight: normal;
}
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
    margin: 0;
}
body h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}
body h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}
body h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
body h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
body h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
body h6 {
    font-size: 1em;
    font-weight: bold;
}
body p {
    margin: 0 0 1.5em;
}
body p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
body p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}
body a {
    color: #000099;
    text-decoration: underline;
}
body a:visited {
    color: #000066;
}
body a:focus {
    color: #000000;
}
body a:hover {
    color: #000000;
}
body a:active {
    color: #CC0099;
}
body blockquote {
    color: #666666;
    font-style: italic;
    margin: 1.5em;
}
body strong {
    font-weight: bold;
}
body em {
    font-style: italic;
}
body dfn {
    font-style: italic;
    font-weight: bold;
}
body sup, body sub {
    line-height: 0;
}
body abbr, body acronym {
    border-bottom: 1px dotted #666666;
}
body address {
    font-style: italic;
    margin: 0 0 1.5em;
}
body del {
    color: #666666;
}
body li ul, body li ol {
    margin: 0;
}

body ul {
    list-style-type: disc;
}
body ol {
    list-style-type: decimal;
}
body dl {
    margin: 0 0 1.5em;
}
body dl dt {
    font-weight: bold;
}
body dd {
    margin-left: 1.5em;
}
body table {
    margin-bottom: 1.4em;
    width: 100%;
}
body th {
    font-weight: bold;
}
body thead th {
    background: none repeat scroll 0 0 #C3D9FF;
}
body th, body td, body caption {
    padding: 4px 10px 4px 5px;
}
body tr.even td {
    background: none repeat scroll 0 0 #E5ECF9;
}
body tfoot {
    font-style: italic;
}
body caption {
    background: none repeat scroll 0 0 #EEEEEE;
}
body .quiet {
    color: #666666;
}
body .loud {
    color: #111111;
}
body .clear {
    clear: both;
}
body .nowrap {
    white-space: nowrap;
}
body .clearfix {
    overflow: hidden;
}
body .small {
    font-size: 0.8em;
    line-height: 1.875em;
    margin-bottom: 1.875em;
}
body .large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em;
}
body .first {
    margin-left: 0;
    padding-left: 0;
}
body .last {
    margin-right: 0;
    padding-right: 0;
}
body .top {
    margin-top: 0;
    padding-top: 0;
}
body .bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}
body .showgrid {
    background: url("/images/grid.png?1328017824") repeat scroll 0 0 transparent;
}
body .error {
    background: none repeat scroll 0 0 #FBE3E4;
    border: 2px solid #FBC2C4;
    color: #8A1F11;
    margin-bottom: 1em;
    padding: 0.8em;
}
body .error a {
    color: #8A1F11;
}
body .notice {
    background: none repeat scroll 0 0 #FFF6BF;
    border: 2px solid #FFD324;
    color: #514721;
    margin-bottom: 1em;
    padding: 0.8em;
}
body .notice a {
    color: #514721;
}
body .success {
    background: none repeat scroll 0 0 #E6EFC2;
    border: 2px solid #C6D880;
    color: #264409;
    margin-bottom: 1em;
    padding: 0.8em;
}
body .success a {
    color: #264409;
}
body .hide {
    display: none;
}
body .highlight {
    background: none repeat scroll 0 0 yellow;
}
body .added {
    background: none repeat scroll 0 0 #006600;
    color: #FFFFFF;
}
body .removed {
    background: none repeat scroll 0 0 #990000;
    color: #FFFFFF;
}
form label {
    font-weight: bold;
}
form fieldset {
    margin: 0 0 1.5em;
    padding: 1.4em;
}
form legend {
    font-size: 1.2em;
    font-weight: bold;
}
form input.text, form input.title, form input[type="email"], form input[type="text"], form input[type="password"] {
    background-color: #FFFFFF;
    margin: 0.5em 0;
    padding: 5px;
}
form input.title {
    font-size: 1.5em;
}
form input[type="checkbox"], form input.checkbox, form input[type="radio"], form input.radio {
    position: relative;
    top: 0.25em;
}
form textarea {
    margin: 0.5em 0;
    padding: 5px;
}
form select {
    margin: 0.5em 0;
}
form fieldset {
    border: 1px solid #CCCCCC;
}
form input.text, form input.title, form input[type="email"], form input[type="text"], form input[type="password"], form textarea, form select {
    border: 1px solid #BBBBBB;
}
form input.text:focus, form input.title:focus, form input[type="email"]:focus, form input[type="text"]:focus, form input[type="password"]:focus, form textarea:focus, form select:focus {
    border: 1px solid #666666;
}
form input.text, form input.title, form input[type="email"], form input[type="text"], form input[type="password"] {
    width: 300px;
}
form textarea {
    height: 250px;
    width: 390px;
}

* html body.two-col #header, * html body.two-col #footer, * html body.two-col #promo {
    overflow-x: hidden;
}
* html body.two-col #sidebar {
    overflow-x: hidden;
}

* html body.two-col #content {
    overflow-x: hidden;
}
html body.bp a {
    color: #4C4C4C;
    outline: medium none;
    text-decoration: none;
}
html body.bp a:hover {
    text-decoration: underline;
}
body {
    background: transparent;
}

#sidebar a {
    display: block;
}
#sidebar a img {
    display: block;
}
#promo_wrapper {
    background: transparent;
}
#container.content {
    padding-bottom: 30px;
    padding-top: 10px;
}
#promo {
    height: 524px;
    position: relative;
}
#promo ul {
    border: 0 none;
    height: 550px;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 10000px;
}
#promo ul li {
    display: inline;
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
}
#promo ul li:first-child, #promo ul li.first {
    padding-left: 0;
}
#promo ul li:last-child, #promo ul li.last {
    padding-right: 0;
}
#promo ul li {
    float: left;
    width: 993px;
}
#promo ul li img {
    display: block;
    float: left;
}
ul.model-list, ul.cover-list {
    border: 0 none;
    margin: auto;
    outline: 0 none;
    overflow: hidden;
}
ul.model-list li, ul.cover-list li {
    display: inline;
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
}
ul.model-list li:first-child, ul.model-list li.first, ul.cover-list li:first-child, ul.cover-list li.first {
    padding-left: 0;
}
ul.model-list li:last-child, ul.model-list li.last, ul.cover-list li:last-child, ul.cover-list li.last {
    padding-right: 0;
}
ul.model-list li, ul.cover-list li {
    overflow: hidden;
    white-space: normal;
}
ul#latest-campaigns li{
    width: 20%;
    overflow: hidden;
}
ul#most-wanted li{
    width: 16.6%;
    overflow: hidden;
}
ul.model-list .photo, ul.cover-list .photo {
    border: 1px solid #CCCCCC;
    display: block;
    margin-right:5px;
    padding: 1px;
}
ul.model-list li:last-child .photo, ul.cover-list li:last-child .photo {
    margin-right:1px;
    margin-left:3px;
}
ul.model-list .name, ul.cover-list .name {
    display: block;
    line-height: 1.2em;
    margin-left: 8px;
    text-align: left;
}
ul.model-list.cover-list li, ul.cover-list.cover-list li {
    width: 25% !important;
}
ul.model-list.cover-list li .name, ul.cover-list.cover-list li .name {
    display: none;
}
h1#men_women {
    background: url("/images/men_women.png") repeat scroll 0 0 transparent;
    height: 68px;
    margin-top: 35px;
    width: 617px;
}
h1#men_women span {
    display: none;
}
#selects {
    background: url("/images/separator.png") no-repeat scroll center center transparent;
    overflow: hidden;
}
#selects .men {
    display: inline;
    float: left;
    margin-right: 12px;
    width: 178.857px;
}
* html #selects .men {
    overflow-x: hidden;
}
#selects .women {
    display: inline;
    float: left;
    margin: 0 0 1.5em 238.571px;
    position: relative;
    width: 178.857px;
}
* html #selects .women {
    overflow-x: hidden;
}
#selects select {
    background-color: #FFFFFF;
    border: 0 none;
    height: 150px;
    width: 100%;
}
.footer_text {
    color: #444444;
    font-size: 0.85em;
}


#latest-campaigns img, #most-wanted img {width:198px;}
#most-wanted {margin-bottom:20px;}

body.two-col #sidebar {
    margin-top: 0px;
    text-align: left;
}

#promo p {width:100% !important; height:100% !important;}
#promo img {width:100% !important; height:100% !important;}
