@charset "utf-8";
/* CSS Document */

/* small screens */
@media screen and (max-width: 44em) {
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 620px) {
    #auctions-list li{width: 48%;}
    #auctions-list li.pos_1,#auctions-list li.pos_3{margin-right: 0%;}
    #wrapper {
        margin-left: 3%;
        margin-right: 3%;
        position: relative;
        width: 94%;
    }
    #banner .label p{font-size: 14px;line-height: 15px}
    #listBids .content{margin-bottom: 30px;}
    #auction-content-left,#auction-content-right{width: 100%;}
    #searchBox input:focus {width: 100%;}
    #searchBox input {width: 15%;}
    ::-webkit-input-placeholder {
        opacity: 0;
    }

    :-moz-placeholder { /* Firefox 18- */
        opacity: 0;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        opacity: 0;
    }

    :-ms-input-placeholder {  
        opacity: 0; 
    }
    #page h1{font-size: 20px;line-height: 20px}
    #page h2{font-size: 15px;line-height: 20px}
    form li,form li > div{width: 100% !important;margin: 0 !important}
    #facebookSignup,#_btnsubmitLogin,#_btnsubmit{margin:10px auto;float: none;display: block;}
    #_btnsubmitLogin{margin-bottom:20px;}
    #contact-form,#contact-info,.contact-wrapper{width: 99%;margin: auto;}
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 400px) {

    #banner .label p{font-size: 11px;line-height: 11px}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 1020px) {
    .menu_button {
        display: block;
    }
    #menuNavMobile {
        display: block;
    }
    #menuNav{
        display: none;
    }
    #header #wrapper{position: inherit;}
    #aution-actions li{width: 100%;margin-bottom: 10px;}
    #product-detail div{display: inherit !important}
    #product-detail h3{display: inherit !important;text-align: left;text-transform: capitalize;margin: 5px 0;}
    #product-detail ul.tabs li,#product-detail .tabs li.ui-state-active{display: none;}
    #product-detail ul.tabs li:last-child{display: block;width: 99.6%;margin-right:0;}
}   

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1019px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}