/*@charset "utf-8";*/
/* CSS Document */

@media screen and (max-width: 360px) {

}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 521px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 699px) {

}


@font-face {
    font-family: 'Avenir-light';
    src: url('../font/avenir-light.eot');
    src: url('../font/avenir-light.eot?#iefix') format('embedded-opentype'),
        url('../font/avenir-light.woff') format('woff'),
        url('../font/avenir-light.ttf') format('truetype'),
        url('../font/avenir-light.svg#avenir-light') format('svg');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'Avenir Heavy';
    src: url('../font/avenir-heavy.eot');
    src: url('../font/avenir-heavy.eot?#iefix') format('embedded-opentype'),
        url('../font/avenir-heavy.woff') format('woff'),
        url('../font/avenir-heavy.ttf') format('truetype'),
        url('../font/avenir-heavy.svg#avenir-heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../font/AvenirLTStd-Roman.eot');
    src: url('../font/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../font/AvenirLTStd-Roman.woff') format('woff'),
        url('../font/AvenirLTStd-Roman.ttf') format('truetype'),
        url('../font/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../font/AvenirLTStd-Black.eot');
    src: url('../font/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/AvenirLTStd-Black.woff') format('woff'),
        url('../font/AvenirLTStd-Black.ttf') format('truetype'),
        url('../font/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
    font-weight: bold;
    font-style: normal;
}
/*Elementos*/
*{
    margin: 0;
    padding: 0;
    border: none;
    outline-width: 0;
}
#container {
    margin: 10px auto auto;
}
.container-border{
    background: #ffffff;
    border: 1px solid #BABABA;
    padding: 20px}
html {
    height: 100%;
}
a{
    color: #e75f0c;
    text-decoration: none;
}
img{
    clear: none;
    margin: 0;
    padding: 0;
}
img.full{
    width: 100%;
    height: auto;
    display: block;
}
.capitalize{text-transform: capitalize;}
body {
    background: url('../img/trozo-puzzle.png') repeat #ffffff;
    overflow-x: hidden;
    color:#000000;
    font-size:14px;
    text-align:center;
    margin:0;
    padding:0;
    font-family:'Avenir',arial,sans-serif;
}
.hidden{
    display: none;
}
.bold{
    font-weight: bold;
}
.blue{
    color:#07A2E4;
}
.orange{
    color:#e75f0c !important;
}
.centered {
    left: 50%;
    margin-left: -134px;
    margin-top: -146px;
    position: fixed;
    top: 50%;
}
#logoDestination{
    text-transform: uppercase;
}
.splash-head{position: relative;margin-top: 20px !important;}
#searchBox{
    height: 35px;
    text-align: left;
    width: 55%;
}

#loginBox{
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
    right: 0;
    top: 9px;
}
#loginBox label{
    cursor: pointer;
}
#loginBox label:hover{
    color: #E75F0C;
}


#searchBox input{    
    border:1px solid #000000;
    transition: width 1s ease 0s;
    width: 100%;
    background:url("../img/lupa.png") no-repeat scroll right -5px #ffffff;
    color:#000000;
    text-transform: capitalize;
    height: 12px;
    margin: 4px;
    min-width: 0px;
}
header{
    background: none repeat scroll 0 0 #F8F8F7;
    left: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.header{
    width: 470px;
    margin:55px auto 30px;
}
#header{
    padding: 5px 0;
    background: #f5f5f5;
    box-shadow: 0 4px 2px -2px #CCCCCC;
}
.login{

}
ol,ul{
    list-style: none outside none;
}
.clear{
    display: block !important;
    clear: both;
}
.clr{
    clear: both;
    float: none !important;
    height: 0;
}
#wrapper {    
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    width: 90%;
}
.modelsList.special{
    margin-top: 0;
}
#cookie{
    background: none repeat scroll 0 0 #1D3541;
    color: #FFFFFF;
    font-family: 'Gotham';
    font-size: 11px;
    margin: 0;
    padding: 7px 34px;
    position: relative;
    text-align: left;
    width: auto;
    z-index: 2;
}
#cookie .close{
    background:url("../img/directSupport.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    height: 10px;
    width: 10px;
    float: right;
    cursor: pointer;
}
footer{  
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 19;
}
#footer a img{
    margin: auto;
}
.preload{
    background: url("../img/preload.gif") no-repeat scroll 0 0px transparent;
    left: 100px;
    position: absolute;
    top: 100px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
h2{
    font-weight: normal;
    font-size: 13px;
}
h3{
    margin: 0 0 10px 0;
    font-size: 13px;
}
a.link{color:#000;}
a.link:hover{color:#E75F0C;}
p{
    margin: 5px 0;
    line-height: 23px;
}
fieldset{
    text-align: left;
}
#white_full {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#white_box {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    height: auto;
    margin: auto 20%;
    max-width: 1100px;
    padding: 20px;
    position: fixed;
    top: 6%;
    width: 50%;
    z-index: 1001;
}
#white_box img{
    width: 100%;
}
#closeX{
    height: 100px;
    position: absolute;
    right: 12px;
    top: 25px;
    width: 100px;
    cursor: pointer;
}
.inputRed{
    border:red 1px solid !important;
}

input[type="text"], input[type="password"],input.datepicker {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #777777;
    display: inline-block;
    font-size: 14px;
    line-height: 13px;
    padding: 6px 4px;
    width: 98%;
    margin-bottom: 20px;
    margin: auto;
    border: 1px solid #000000;
}
select{font-family: 'Avenir',arial,sans-serif}
textarea {
    font-family: 'Avenir',arial,sans-serif;
    border: 1px solid #000000;
    height: 54px;
    padding: 1%;
    resize: none;
    width: 97%;
}
.leftAlign{
    text-align: left;
}
form label,form select {
    display: block;
    line-height: 20px;
    margin: 0 7px 0 0;
    padding: 6px 10px 0 0;
    position: relative;
    text-align: left;
    vertical-align: middle;
    min-width: 50px;
    font-size: 15px;
    color:#000000;
}
form label.option{
    display: inline;
    margin-left: 10px;
    vertical-align: top;
}
form select{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
    padding: 5px;
}
form .btn {
    background-color: #7D7D7D;
    border: 1px solid #676767;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 5px;
    text-align: center;
    width: 100px;
}
#page {

}

#body{
    width: 100%;
    float: left;
    position: absolute !important;
    z-index: 0 !important;
    height: 100% !important;
}
.logo {
    background: url("../img/logo.png") no-repeat scroll center bottom transparent;
    display: block;
    height: 133px;
    width: 250px;
}
input[type="submit"]{
    font-family: 'Avenir Heavy';
    text-transform: uppercase;
    background: none repeat scroll 0 0 #E75F0C;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    padding: 8px 0;
    text-align: center;
    width: 200px;
}
input[type="submit"]:hover{
    opacity: 0.7;
}
#facebookSignup{
    background: url('../img/fbLogin.png') no-repeat transparent;
    width: 198px;
    height: 40px;
    margin: 20px auto;
}
#oregister{
    padding: 0 20px;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
#errorMsg{
    color:#c44;
    text-align: right;
}
/*HEADER*/
input[name="menu_button"]{
    position: absolute;
    top:-999999px;
    left:-99999px;
}
.menu_button {
    cursor: pointer;
    background: url("../img/menu_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    height: 26px;
    left: 20px;
    position: absolute;
    top: 13px;
    width: 38px;
}
#menuNavMobile {
    display: none;
    box-shadow: 0 4px 2px -2px #CCCCCC;
    left: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 61px;
    transition: max-height 1s ease 0s;
    width: 100%;
    z-index: 50;
    text-transform: uppercase;
    text-align: left;
}
input[name="menu_button"]:checked ~ #menuNavMobile {
    max-height: 500px;
}
ul.navMobile {
    background: none repeat scroll 0 0 #FFFFFF;
    left: 0;
    top: 81px;
    width: 100%;
    z-index: 1000;
}
ul.navMobile > li:first-child{}
ul.navMobile  > li{
    border-bottom: 1px solid #D2D2D2;
   padding: 10px 0;
}
ul.navMobile > li > a{margin: 0 10px;}
ul.navMobile .submenu > li{margin: 0;}
ul.navMobile .submenu > li div{margin: 10px 40px 0;}
#menuNav{
    text-align: left;
    text-transform: uppercase;
    width: 70%;
    display: inline-block;
}
#menuNav .primary:hover .submenu{
    max-height: 170px;
    border: 1px solid #ffffff;
}
#menuNav .submenu{
    z-index: 20;
    box-shadow: 0 4px 2px -2px #CCCCCC;
    background: #f5f5f5;
    display: block;
    max-height: 0;
    overflow: hidden;
    margin-left:-20px;
    position: absolute;
    transition: max-height 1s ease 0s;
}
#menuNav .submenu li:hover{background: #dcdcdc;color:#e75f0c;}
#menuNav .submenu li{
    border-bottom: 1px solid #FFFFFF;
    display: block;
    line-height: 34px;
    margin: 0;
    padding: 3px 14px 0;
    text-align: center;
    width: 150px;
}
#menuNav .submenu li:last-child{border-bottom: 0;}
#header #logo{
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 30%;
}
#navCheck:checked ~ #menuNav{
    max-height: 90px;
}
#menuNav li{
    display: inline-block;
    color:#004067;
    font-size: 14px;
    margin: 22px 10px 8px;
}
#menuNav li:first-child{margin-left: 0;}
#menuNav li a{color:#585858}
#menuNav li a:hover,#menuNav li a.selected{
    color:#e75f0c;
}
#menuNav li.desactivated,#menuNav li.desactivated a:hover{
    color:#adb0b3;
}
#navCheckLabel{
    background: url('../img/menuIcons.png');
    height: 12px;
    width: 18px;
    left: 0;
    position: absolute;
    top: 40px;
}
#breadcrumb-container{ 
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: #5A5A59;
    margin: 10px 0 0;
    padding: 7px 0;
    position: relative;
    text-align: left;
}
#breadcrumb .selected{
    font-weight: bold;
}
#breadcrumb a{color:#000;}
#directSupport{
    float: right;
    color:#004066;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    font-family: 'Gotham';
}
#directSupport li{
    vertical-align: middle;
    display: inline-block;
}
.directSupport-more{
    background: url("../img/directSupport.png") no-repeat scroll -13px center rgba(0, 0, 0, 0);
    height: 19px;
    text-align: right;
    width: 183px;
}
.directSupport-casc{
    background: url("../img/directSupport.png") repeat scroll 20px 0 transparent;
    width: 20px;
    height: 20px;
}
.xLogo{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 20px;
    cursor: pointer;
}
.away {
    left: -99999px;
    position: absolute;
    top: -99999px;
}
#registerLabel{display: inline-block;color:#E75F0C;font-size: 20px;padding:0;cursor: pointer;}
#splash-content.splash-signup{z-index: 11;}
#signupCheck:checked ~ .splash-signup{max-height: 1000px;}
#loginCheck:checked ~ .splash-login{max-height: 1000px;}
#msgCheck:checked ~ .splash-msg{max-height: 1000px;}
#splash-content{
    transition: max-height 1s ease 0s;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;
}
#signup-box{
    position: relative;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 7px #777777;
    color: #000000;
    font-size: 12px;
    margin: auto;
    max-width: 580px;
    min-width: 300px;
    width: 100%;
}
#signup-box p{font-size: 15px;}
#signup-box .check{cursor: pointer;color:#E75F0C}
#_btnsubmitLogin{
    float: right;  
}
#signup-box h1{
    background: none repeat scroll 0 0 #E75F0C;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 52px;  
    font-weight: normal;
}
.facebookLogin{
    display: inline-block;
    float: left;
    margin: 10px 0 !important;
    vertical-align: top;
}
#signup-box li{
    width: 90%;
    margin: 10px auto;
}
#signup-box h2{
    margin: 20px auto;
    font-size: 20px;
}
#signup-box li:last{
    width: 197px;
    margin: auto;
}
/*FOOTER*/
.socialIcons li{
    display: inline-block;
}
.socialIcons li div{
    background: url("../img/socialIcons.png") repeat scroll 0px 0 transparent;
    height: 25px;
    width: 25px;
}

.socialIcons #fb{
    background-position: -5px 0;
}
.socialIcons #tw{
    background-position: -38px 2px;
}
.socialIcons #gplus{
    background-position: -73px 0px;
}
.socialIcons #pinterest{
    background-position: -108px 0;
}
.socialIcons #tuenti{
    background-position: -143px 0;
}
.socialIcons #in {
    background-position: -177px 0;
}
.socialIcons #instagram{
    background-position: -212px 0;
}
#footer{
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 30px;
    padding: 40px 0;
    font-size: 14px;
}
#footer .privacy{
    margin-top: 80px; 
    font-size: 11px;
}
#footer .privacy a{display: inline-block}
#footer .container{}
#footer p{
    color:#838587;
}
#footer h1{
    color: #3c3c3b;
    font-size: 14px;
    font-weight: normal
}
#footer .footer-list > li{
    display: inline-block;
    padding: 0 1%;
    text-align: left;
    vertical-align: top;
    width: 23%;;
}
#footer .footer-list-a li{
    display: block;
    margin: 5px 0;
}
#footer .footer-list li.footerlogo{
    vertical-align: bottom;
}
#footer a{
    color:#3c3c3b;
    display: block;
}
#footer a:hover{

}
#footer .container{

}


/*
    HOME
*/

/*BANNER*/
#banner .banner-box{
    background: #f5f5f5;
    height: 330px;
    overflow: hidden;
}
#banner ul, #banner li{height: 100%;}
#banner .banner-box .button{
    position: absolute;
    left: 50%;
    margin-left: -80px;
    bottom: 30px;
    font-family: 'Avenir Heavy';
    font-size: 16px;
    padding: 10px;
    border:2px solid #ffffff;
    width: 150px;
    text-align: center;
    line-height: 20px;
    color:#ffffff;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    0px 0px 11px 0px rgba(255, 255, 255, 0.75);
    box-shadow:         0px 0px 11px 0px rgba(255, 255, 255, 0.75);
}
#banner .banner-box .button:hover{opacity: 0.7}
#banner .label{
    position: relative;
    height: 100%;
    color: #009FE3;
    display: inline-block;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: 40%;
}
#banner .label p{
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    line-height: 25px;
    margin: 40px auto;
    width: 80%;
}
#banner .img{
    width: 60%;
    display: inline-block;
}
#banner .img img{width: 100%;height: auto;}
.button.blue{
    background: #e75f0c;
}

/*LIST AUCTIONS*/
#auctions-list{
    text-align: left;
}
#auctions-list-box #masorny {
    margin: 0 auto;
}
#auctions-list-box #masorny .item {
    margin: 0 ;
}
#auctions-list-box #masorny .item .box {
    height: 360px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 230px;
}
#auctions-list li{
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 4%;
    text-align: center;
    vertical-align: top;
    width: 22%;
}
#auctions-list li.pos_3{
    margin-right: 0%;
}
#auctions-list li .content-box{
    //margin-right: 30px;
}
#auctions-list li .last{
    margin-right: 0px;
}
.auctions-list-img-box{
    width: 100%;
    overflow: hidden;
    height:auto;
    position: relative;
}
.capaSquare{    
    display: block;
    height: auto;
    position: relative;
    width: 100%;
}
.auctions-list-img-box .full{position: absolute;}
.auctions-list-info{
    color: #000000;
    margin: auto;
    width: 90%;
    font-size: 14px;
}
.auctions-list-info .price{
    font-size: 12px;
    color:#666666;
}
#auctions-list-box{
    margin-top: 25px;
}
.auctions-time-label{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 31px;
    color:#ffffff;
    background: rgba(0,0,0,0.7);
}
/*Auctions*/
#auction-content,#bid {
    border: 1px solid #cdcdcd;
    text-align: left;
    padding-bottom: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
}
#auction-content-left{
    display: inline-block;
    width: 55%;
    vertical-align: top;
}
#auction-content-right{
    display: inline-block;
    width: 43%;
    vertical-align: top;
}
#auction-content-img {
    max-height: 330px;
    margin: 2% 2% 30px;
    overflow: hidden;
    width: 96%;
}
#auction-content-img img{
    width: 100%;
    height: auto;
}
#bidForm{
    float: right;
    margin: 0 2%;
    max-width: 440px;
    text-align: right;
    width: 96%;
}
#bidForm .bidNext p{
    color:#999999;
}
#bidFormbox{
    border: 1px solid #e75f0c;
}
.bidOver{display: inline-block;width: 55%;vertical-align: top;text-align: left;color:#000cff;font-size: 18px; text-transform: uppercase;}
.bidNext{display: inline-block;width: 45%;vertical-align: top;}
#bidInput{
    text-align: right;
    border:none;
    display: inline;
    font-size: 16px;
    height: 40px;
    margin: 0;
    padding: 0;
    width: 280px;
}
.auction-content-box{
    margin: auto;
    width: 95%;
}
#product-detail h3{display: none;}
#bidButton{
    font-family: 'Avenir Heavy';
    cursor: pointer;
    background: none repeat scroll 0 0 #e75f0c;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0 10px;
    height: 43px;
    text-transform: uppercase;
}
.auction-content-box {
    font-size: 16px;
}
.auction-content-box h1{
    font-size: 22px;
    color:#000000;
    margin: 10px 0;
    font-weight: bold;
}
#auction-data li{
    margin: 10px 0;
}
.tabs{
    text-align: left;
    position: relative;
    z-index: 3;
}
.tabs li{
    display: inline-block; 
    font-size: 14px;
    margin-right: -2.6px;
    width: 12%;
    text-align: center;
    max-width: 300px;
    background: #efefef;
    text-transform: uppercase;
}
.tabs li div.tab-box{
     height: 100%;
    padding: 14px 0 12px;
    width: 100%;
}
#product-detail{
    width: 100%;
    margin-top: 60px;
}
#product-detail .product-detail-content{
    background: none repeat scroll 0 0 #ffffff;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
/*    min-height: 200px;*/
    margin-top: -1px;
    overflow-y: auto;
    padding: 30px 20px;
    text-align: left;
    font-size: 14px;
}
#product-detail .tabs li{
    border: 1px solid #CDCDCD;
}
#product-detail .tabs li a{
    color:#000000;
    font-weight: normal;
}
#product-detail .tabs li.ui-state-active{
    display: inline-block; 
    font-weight: normal;
    background: #ffffff;
    border-bottom: 1px solid #ffffff !important;
    color:#004066;
}
#product-detail .tabs li.ui-state-hover{background: #ffffff;}
#product-detail .tabs li.donationInfo{width: 64%;color:#b7b7b7;text-transform: none;max-width:  none;}
#aution-actions li{display: inline-block;width: 50%;}
.q-button{
    cursor: pointer;
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    height: 24px;
    line-height: 26px;
    margin-right: 5px;
    text-align: center;
    width: 26px;
}
.q-buttonGrey{
    border-radius: 2px;
    background: none repeat scroll 0 0 #B7B7B7;
    position: absolute;
    right: 10px;
    top: 10px;
}
#socialMediaMargin{
    z-index: 10;
    background: none repeat scroll 0 0 #f5f5f5;
    left: 0;
    margin-top: -100px;
    padding: 10px 13px 10px 9px;
    position: fixed;
    top: 50%;
}
#socialMediaMargin li{
    display: block;
    margin: 10px 0;
}


/*COLABORADORES*/

#colaboradores-list{border: 1px solid #bababa;padding: 20px;background: #ffffff;}
#colaboradores-list li{
    text-align: left;
    position: relative;
}
.mainWrapper > h1{
    font-family: 'Avenir-light';
    font-size: 50px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
}
.colaboradores-img{position: relative;width: 20%;max-height: 220px;border: 1px solid #bababa;display: inline-block;vertical-align: top;overflow: hidden;}
.colaboradores-img .full{position: absolute;}
.colaboradores-info{vertical-align: top;width: 77%;display: inline-block;margin-left: 2%; margin-bottom: 25px;}
.colaboradores-info h1{font-weight: bold;font-size: 20px;text-transform: uppercase;}
.colaboradores-info .colaboradores-acumulado{color:#e30f18;;margin-top: 20px;}
.colabores-auctions {position: absolute;bottom: 0px;right: 10px;text-align: right;}
.colaboradores-separator{width: 100%;margin: 29px auto;height: 1px;border-bottom: 1px solid #bababa;}

/*PAGE ARTICLE*/
#page{text-align: left;position: relative;}
#page h1{
    font-family: 'Avenir-light';
    font-size: 36px;
    font-weight: normal;
    line-height: 41px;
    text-align: center;
}
#page.form h2{font-family: 'Avenir-light';font-size: 24px;color:#484747;text-align: center;}
#page h1 .orange{font-family: 'Avenir';}
#page h2{font-size: 27px;color:#000000;font-weight: bold;}
#page iframe{width: 100%;height: 570px; margin: 20px 0 40px;}
#opiniones{padding: 20px 20px 20px 0;text-align: left;}
#opiniones h1{text-align: left;font-size: 20px;line-height: inherit;font-weight: bold;}
.opiniones-img{width: 20%;display: inline-block;vertical-align: top;}
.opiniones-content{width:75%;display: inline-block;vertical-align: top;margin-left: 20px;}
#dicen li{display: inline-block;margin: 10px 10px;vertical-align: middle;}

/*USER*/
#user{text-align: left;}
.street{width: 100%}
.number{
    display: inline-block;
    width: 10%;
    margin-right: 3%;
}
.zipcode{
    display: inline-block;
    width: 20%;
    margin-right: 3%;
}
.city{
    display: inline-block;
    width: 21%; 
}
#user-image{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
#user-form{
    width: 75%;
    display: inline-block;
    vertical-align: top;
}
.user-img {
    margin-top: 25px;
    border: 1px solid #BABABA;
    display: inline-block;
    max-height: 220px;
    vertical-align: top;
    max-width: 220px;
    width: 95%;
}
#user label[for="user-file"]{color:#E75F0C;cursor: pointer;text-align: center;}
.user-file{position: absolute;top:-10000px;left: -10000px;}
.user-options li{margin: 15px 0;}
#contact-form{width: 55%;display: inline-block;vertical-align: top;}
#contact-info{width: 45%;display: inline-block;vertical-align: top;}
.styled-select {
    background:#ffffff;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    width: 99%;
    border: 1px solid #000000;
}
.styled-select .arrow {
    background: url("../img/strip.png") no-repeat scroll left -98px rgba(0, 0, 0, 0);
    height: 20px;
    position: absolute;
    right: 0;
    width: 20px;
}
.styled-select select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #9A9996;
    font-size: 14px;
    line-height: 1;
    width: 124%;
}
.contact-wrapper{margin: 0px auto;width: 63%}
#contact{text-align: left;}
#contact h1{font-size: 20px;font-weight: bold;margin-bottom: 30px;}
#contact h2{font-size: 20px;font-weight: normal;margin-top: 20px;}

/*LIST BIDS/FAVS*/
#listBids > ul > li{border: 1px solid #BABABA;text-align: left;padding: 10px;margin-bottom: 20px;position: relative;background: #ffffff}
#listBids ul li h1{font-size: 20px;margin-bottom: 30px;}
#listBids .imgBox{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
#listBids .content{
    display: inline-block;
    margin-left: 2%;
    vertical-align: top;
    width: 68%;
}
#listBids .content li{margin: 5px 0;}
#listBids .allInfo{position: absolute;bottom: 20px;right: 20px}


/*BID FORM*/
#bid-content{width: 95%;margin: auto;position: relative;}
#bid .card_saved{width: 50%;display:inline-block;text-align: left;vertical-align: top}
#bid .card_holder{width: 50%;display:inline-block;text-align: left;;vertical-align: top}
#bid .card_type{width: 15%;display:inline-block;text-align: left;;vertical-align: top}
#bid .card_number{width: 55%;display:inline-block;text-align: left;;vertical-align: top}
#bid .card_expire{width: 22%;display:inline-block;text-align: left;;vertical-align: top;margin-left: 2%;}
#bid .expire_box{width: 40%;display:inline-block;text-align: left;;vertical-align: top;margin:0 10% 0 0;float: left;}
#bid .card_cvv{width: 5%;display:inline-block;text-align: left;;vertical-align: top}
#bid .confirm{width:70%;display:inline-block;text-align: left;;vertical-align: top}
#bid .submitLi{width: 30%;display:inline-block;text-align: right;;vertical-align: bottom}
#bid .card_name{width:70%;display:inline-block;text-align: left;;vertical-align: top;margin:0;}
#bid .save_card{width: 30%;display:inline-block;text-align: right;;vertical-align: bottom}
#bid h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 30px 0;
}
#bid h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}
#bid .imgBox {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
#bid .content {
    display: inline-block;
    margin-left: 2%;
    vertical-align: top;
    width: 68%;
}
#bid .allInfo {
    bottom: 20px;
    position: absolute;
    right: 20px;
}