<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <title></title>
    </head>
    <body style="background:#f4f1ec; font-family:arial">
        <center>
            <table id="Table_01" align="center" width="680" border="0" cellpadding="" cellspacing="0" style="" bgcolor="">

                <tr>
                    <td style="text-align: center;">
                        <a style="color:#000;text-decoration:none;" href="http://terrae.com"> <img src="http://terrae.com.mialias.net/public/img/logo.png" /></a>
                    </td>

                </tr>
                <tr   style="border-bottom:1px solid #fffefd;color:#004066;">
                    <td> CONGRATULATIONS {{name}}!</td></tr>
            </table>
            <table bgcolor="fffefd" align="center" width="680" style="padding:20px;margin-bottom: 2px;">
                <tr>
                    <td>{{content}}</td>
                </tr>
                <tr>
                    <td><a href="{{link}}">{{link}}</a></td>
                </tr>
                <tr>
                    <td style="text-align:center"><a style="background: none repeat scroll 0 0 #003657;color: #FFFFFF;font-size: 16px;padding: 8px 20px;text-align: center;width: 200px;text-decoration: none;" href="{{link}}">CONFIRM ACCOUNT</a></td>
                </tr>
            </table>
            <table align="center" width="680" style="color:#004066;">
                <tr>
                    <td>
                        <img src="http://terrae.com.mialias.net/public/img/needmore.png"/>
                    </td>
                </tr>
                <tr><td style="font-size:11px;">Nam ac mi ac dolor molestie egestas rhoncus at lacus. Aenean ultrices faucibus ligula, vitae aliquet odio 
ultricies vel. Suspendisse vitae eros sit amet dolor cursus vulputate a eget nulla. Aenean convallis pulvinar viverra. Sed sit amet velit iaculis libero molestie lobortis. Phasellus pretium convallis massa ut tristique. Nulla viverra egestas neque et tincidunt. Nam varius non ligula ut tempus. In et neque vitae velit facilisis sagittis. Duis sodales magna nibh, eu venenatis tellus adipiscing quis.
</td></tr> </table>
        </center>


    </body>
</html>